.Seccion4{

    width: 100vw;
    height: 130vh;
    background-color:  #262626 ;
    padding: 5vh 0 5vh 0;
}
.Seccion4 .conteiner{
    width: 60%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 16.66% repeat(3,1fr);
    grid-gap: 1vw;
    grid-template-areas: 'uno uno uno uno'
                        'dos tres cuatro cuatro'
                        'cinco cinco cuatro cuatro'
                        'seis siete siete ocho';
    
}
.Seccion4 .conteiner div{
    background-color: #333333;
    padding: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}
.Seccion4 h2{
    font-size: 2.5vw;
    color: #c3b091;
    }
.Seccion4    h3{
    font-size: 1.2vw;    
    color: whitesmoke;
}
.Seccion4    h4{
    font-size: 0.8vw;    
    color: #818181;
    text-align: center;
}
.Seccion4 .conteiner div:nth-child(1){
    grid-area: uno;
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.Seccion4 .conteiner div:nth-child(2){
    grid-area: dos;
    background-image: url(../img/S4-Tarjeta.svg);
    background-size: contain;
    background-position: center;
}
.Seccion4 .conteiner div:nth-child(3){
    grid-area: tres;
    background-image: url(../img/S4-Foto2.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: inherit;
}
.Seccion4 .conteiner div:nth-child(4){
    grid-area: cuatro;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 4vw;
    padding-right: 4vw;
}
.Seccion4 .conteiner div:nth-child(4) img{
    height: 50%;
 }
 .Seccion4 .conteiner div:nth-child(4) h3{
    letter-spacing: 1vw; }
.Seccion4 .conteiner div:nth-child(5){
    grid-area: cinco;
    background-image: url(../img/S4-Design.svg);
    background-size: contain;
    background-position: center;
    background-color: inherit;
    background-repeat: no-repeat;
}
 .Seccion4 .conteiner div:nth-child(6){
    grid-area: seis;
    background-image: linear-gradient(47deg, # 50%, #333333 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Seccion4 .conteiner div:nth-child(7){
    grid-area: siete;
    background-image: url(../img/S4-Foto.svg);
    background-size: cover;
}
.Seccion4 .conteiner div:nth-child(8){
    grid-area: ocho;
    position: relative;
    background-color:#262626 ;
    color:#333333;
    font-size: 3.5vw;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid  #333333;
}
.Seccion4 .conteiner div:nth-child(8) img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    

}
    
